---
level: info
timeout: 60
batch_size: 10000
username: {{ aruba_username }}
password: {{ aruba_password }}
# key_file: /path/to/key

devices:
  - host: ap1.xylem.sequoiafabrica.org
  - host: ap2.xylem.sequoiafabrica.org

features:
  system: true
  environment: true
  interfaces: true
  optics: true
  routes: true
  wireless: true
