MAILERLITE_API_KEY={{ seqfab_utilities.mailerlite_api_key }}

# BOOKWHEN DATA
BOOKWHEN_API_KEY={{ seqfab_utilities.bookwhen_api_key }}

# Development Mode Flag
DEV_MODE=False

# Flask Secret Key
FLASK_SECRET_KEY={{ seqfab_utilities.flask_secret_key }}

DB_DATA_VOLUME_SOURCE={{ seqfab_utilities.db_data_location_source }}
DB_DATA_VOLUME_TARGET={{ seqfab_utilities.db_data_location_target }}
BACKUP_DIRECTORY_SOURCE={{ seqfab_utilities.db_backup_location_source }}
BACKUP_DIRECTORY={{ seqfab_utilities.db_backup_location_target }}

ETHERPAD_API_KEY={{ etherpad.api_key }}

SCHLAGE_ENCODE_USERNAME={{ seqfab_utilities.schlage_encode_username }}
SCHLAGE_ENCODE_PASSWORD={{ seqfab_utilities.schlage_encode_password }}

STRIPE_API_KEY = {{ seqfab_utilities.stripe_private_key }}

# This is defined in the compose file at https://github.com/momja/adminer-traefik-compose/blob/085849fc911d9cc3ff4db3707705255751be939c/compose.yml#L12
ADMINER_DB_PATH=/var/www/html/sqlite

DOCUSEAL_API_KEY={{ seqfab_utilities.docuseal_api_key }}

# Gmail Service Account
GMAIL_SERVICE_ACCOUNT_PATH_SOURCE={{ seqfab_utilities.gmail_service_account_path_source }}
GMAIL_SERVICE_ACCOUNT_PATH={{ seqfab_utilities.gmail_service_account_path }}

OLLAMA_MEMORY_LIMIT={{ seqfab_utilities.ollama_memory_limit | default('2g') }}
