# MAILCHIMP DATA
MAILCHIMP_API_KEY={{ seqfab_utilities.mailchimp_api_key }}
MAILCHIMP_SERVER_PREFIX={{ seqfab_utilities.mailchimp_server_prefix }}
MAILCHIMP_LIST_ID={{ seqfab_utilities.mailchimp_list_id }}

# BOOKWHEN DATA
BOOKWHEN_API_KEY={{ seqfab_utilities.bookwhen_api_key }}

# Development Mode Flag
DEV_MODE=False

# Flask Secret Key
FLASK_SECRET_KEY={{ seqfab_utilities.flask_secret_key }}

DB_DATA_LOCATION={{ seqfab_utilities.db_data_location }}
