# MAILCHIMP DATA
# MAILCHIMP_API_KEY={{ seqfab_utilities.mailchimp_api_key }}
# MAILCHIMP_SERVER_PREFIX={{ seqfab_utilities.mailchimp_server_prefix }}
# MAILCHIMP_LIST_ID={{ seqfab_utilities.mailchimp_list_id }}
MAILERLITE_API_KEY={{ seqfab_utilities.mailerlite_api_key }}

# BOOKWHEN DATA
BOOKWHEN_API_KEY={{ seqfab_utilities.bookwhen_api_key }}

# Development Mode Flag
DEV_MODE=False

# Flask Secret Key
FLASK_SECRET_KEY={{ seqfab_utilities.flask_secret_key }}

DB_DATA_VOLUME_SOURCE={{ seqfab_utilities.db_data_location_source }}
DB_DATA_VOLUME_TARGET={{ seqfab_utilities.db_data_location_target }}

ETHERPAD_API_KEY={{ etherpad.api_key }}

SCHLAGE_ENCODE_USERNAME={{ seqfab_utilities.schlage_encode_username }}
SCHLAGE_ENCODE_PASSWORD={{ seqfab_utilities.schlage_encode_password }}

OLLAMA_MODEL_NAME= {{ seqfab_utilities.ollama_model_name }}
