---
- name: Authentik
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: authentik.yml
  tags: authentik

- name: Prometheus
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: install_prometheus.yml
  tags: prometheus

- name: Node Exporter
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: node_exporter.yml
  tags: node_exporter

- name: Grafana
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: grafana.yml
  tags: grafana

- name: Frigate
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: frigate.yml
  tags: frigate

- name: Frigate Exporter
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: frigate_exporter.yml
  tags: frigate_exporter

- name: Aruba Exporter
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: aruba_exporter.yml
  tags: aruba_exporter

- name: Immich
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: immich.yml
  tags: immich

- name: Docuseal
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: docuseal.yml
  tags: docuseal

- name: Cloudflare DDNS
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: cloudflare_ddns.yml
  tags: cloudflare_ddns

- name: Sequoia Fabrica Utilities
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: seqfab_utilities.yml
  tags: seqfab_utilities

- name: Adminer
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: adminer.yml
  tags: adminer

- name: Open WebUI
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: open_webui.yml
  tags: open_webui

- name: Uptime Kuma
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: uptime_kuma.yml
  tags: uptime_kuma

- name: Double Take
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: double_take.yml
  tags: double_take

- name: Multipass
  ansible.builtin.include_role:
    name: sequoia_fabrica
    tasks_from: multipass.yml
  tags: multipass

# Restic Backup
# Backs up all files in the backup directory to Google Drive
# Example: Multiple source paths in a single backup
# source_paths can be a single path (string) or multiple paths (list)
#
# Single path:
#   source_paths: "/opt/seqfab_utilities/backup"
#
# Multiple paths:
#   source_paths:
#     - "/opt/seqfab_utilities/backup"
#     - "/opt/seqfab_utilities/media"
#     - "/opt/seqfab_utilities/exports"
#
# All paths will be backed up to the same restic repository with the same schedule
- name: Restic Backup
  ansible.builtin.import_role:
    name: sequoia_fabrica
    tasks_from: restic_backup.yml
  vars:
    restic_backup:
      source_paths:
          - "{{ seqfab_utilities.db_backup_location_source }}"
          - "{{ docuseal.data_location }}"
      repository_name: "nursery_apps"
      backup_schedule: "0 3 * * *"
      retention_days: 30
      retention_weeks: 4
      retention_months: 6
      container_name: "restic_backup"
  tags: restic_backup
  when: vault_gdrive_backup.rclone_token is defined and vault_restic_password is defined
