---
- name: Create apt keyrings directory
  become: true
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download Google Cloud GPG key
  become: true
  ansible.builtin.get_url:
    url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
    dest: "/etc/apt/keyrings/google-cloud.asc"
    mode: '0644'

- name: Install core-edgetpu-stable apt repo
  become: true
  ansible.builtin.apt_repository:
    repo: "deb [signed-by=/etc/apt/keyrings/google-cloud.asc] https://packages.cloud.google.com/apt coral-edgetpu-stable main"
    state: present

- name: Install the coral edgetpu packages
  become: true
  ansible.builtin.apt:
    name:
      - gasket-dkms
      - libedgetpu1-std
    state: present
    update_cache: true
